@import '~bootstrap/scss/bootstrap.scss';
@import './variables';

// HEADER
.upper-header {
    height: 50px;
    background-color: $bluesky;
  }
.mid-header {
     
}
// BOTTOM-HEADER
.bottom-header {
    border-top: 1px solid  $whitesmoke;
    height: 80px;
}
.bottom-list,li{
    display: inline;
    padding: 10px;
}


//JUMBOTRON
.bg-jumbotron{
    background-color: $whitesmoke;
}

// JUMBOTRON PICTURES
.photo {
    // background-image: url("../images/blog-46.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

//  SLIDER
#slider{
    background-color: $bluesky;

}
// FOOTER
.upper-footer{
    background-color: $light-black;
}
.bottom-footer{
    background-color: $black;
}
//BACKGROUNDS
.bg-onyx{
    background-color: $black;
}
.bg-whitesmoke{
    background-color: $whitesmoke;
}
// BUTTONS
.btn-blue{
    color:#FFF;
    background-color: $bluesky;
    padding: 5px;
    font-size: 10px;
    font-weight: 600;
    
}

.btn-black{
    color:#FFF;
    background-color: $light-black;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0px;
}
// TEXT
.text-light-blue{
    color:#A7D6ED
}