@import '~bootstrap/scss/bootstrap.scss';
@import './variables';

// HEADER
.upper-header {
    height: 50px;
    background-color: #0088CC;
  }
.mid-header {
     
}
// BOTTOM-HEADER
.bottom-header {
    border-top: 1px solid #F7F7F7;
    height: 80px;
}
.bottom-list,li{
    display: inline;
    padding: 10px;
}


//JUMBOTRON
.bg-jumbotron{
    background-color: #F7F7F7;
}

// JUMBOTRON PICTURES
.photo {
    // background-image: url("../images/blog-46.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

//  SLIDER
#slider{
    background-color: #0088CC;

}
// FOOTER

//BACKGROUNDS
// BUTTONS
.btn-blue{
    color:#FFF;
    background-color: #0088CC;
    padding: 5px;
    font-size: 10px;
    font-weight: 600;
}

.btn-black{
    color:#FFF;
    background-color: #212529;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0px;
}
// TEXT
.text-light-blue{
    color:#A7D6ED
}